<form>
  <div class="formContainer">
    <h1>Hello!</h1>
    <hr>
    <label for="Username"><b>what do we call you?</b></label>
    <input id="Username" type="text" placeholder="Enter Username" name="Username" maxlength = "20" required>
    <label for="Gender"><b>Gender</b></label>
    <select name="Gender" id="Gender">
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="NA">NA</option>
    </select>
    <label for="Age"><b>Age</b></label>
    <input id="Age" type="text" placeholder="Enter Age" name="Age" maxlength = "2"
           required>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="marginbottom: 15px"> Remember me
    </label>
    <div>
      <button type="submit" class="signup">Next</button>
    </div>
  </div>
</form>
