
.toggle_chat {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 69px;
    height: 69px;
    background: purple;
    border: 1px solid black;
    border-radius: 100%;
    overflow: hidden;
    animation: toggle-chat 0.2s;
}

.toggle_chat button{
    width: 73px;
    height: 73px;
    margin-left: -2px;
    margin-top: -2px;
    background: transparent;
}

@keyframes toggle-chat {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
    }

.chat_box{
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 500px;
    width: 400px;
    background-color: rgb(43, 43, 43);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    animation: chat-box 0.2s;
}

@keyframes chat-box {
0% {
    opacity: 0;
    transform: scale(0);
}

100% {
    opacity: 1;
    transform: scale(1);
}
}

.chat_box .close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    height: 35px;
    background: purple;
    border: 1px solid black;
    overflow: hidden;
    border-bottom-left-radius: 10px;
}

.chat_box .close button{
    width: 75px;
    height: 75px;
    margin-left: -2px;
    margin-top: -2px;
    background: transparent;
}

/* menu css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #dcd9cd;
}
ul {
  position: relative;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a {
  color: #0002;
}
ul li:hover a {
  color: #000;
  background: transparent;
}
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
ul li:nth-child(6n + 1) a:before {
  background: #0470fe;
}
ul li:nth-child(6n + 2) a:before {
  background: #ff7675;
}
ul li:nth-child(6n + 3) a:before {
  background: #1582fe;
}
ul li:nth-child(6n + 4) a:before {
  background: #a29bfe;
}
ul li:nth-child(6n + 5) a:before {
  background: #fd79a8;
}
ul li:nth-child(6n + 6) a:before {
  background: #ffeaa7;
}
