<form>
  <div class="formContainer">
    <h1>choose your likings</h1>
    <hr>
    <label>
      <input type="checkbox" checked="checked" name="science" style="marginbottom: 15px"> science
    </label>
    <label>
      <input type="checkbox" checked="checked" name="computer" style="marginbottom: 15px"> computer
    </label>
    <label>
      <input type="checkbox" checked="checked" name="video" style="marginbottom: 15px"> video
    </label>
    <label>
      <input type="checkbox" checked="checked" name="game" style="marginbottom: 15px"> game
    </label>
    <label>
      <input type="checkbox" checked="checked" name="music" style="marginbottom: 15px"> music
    </label>
    <label>
      <input type="checkbox" checked="checked" name="art" style="marginbottom: 15px"> art
    </label>
    <div>
      <button type="submit" class="signup">Next</button>
    </div>
  </div>
</form>
