<form [formGroup]="signUpForm">
   <div class="formContainer">
      <h1>Signup Form</h1>
      <hr>
      <div class="field">
       <label for="username"><b>Username</b></label>
      <input type="text" formControlName="username" name="txt" placeholder="User name" maxlength="25" required>
      <small *ngIf="username.invalid && (username.dirty || username.touched)">
         <div *ngIf="username.errors?.['required']">Username is required</div>
         <div *ngIf="username.errors?.['pattern']">Username should be valid</div>
    </small>
      </div>

      <div class="field">
      <label for="email"><b>Email</b></label>
      <input type="text" formControlName="email" name="email" placeholder="Enter Email" maxlength="40" required>
      <small *ngIf="email.invalid && (email.dirty || email.touched)">
           <div *ngIf="email.errors?.['required']">Email is required</div>
           <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
      </div>

       <div class="field">
           <label for="password"><b>Password</b></label>
           <input type="password" formControlName="password" name="password" placeholder="Enter Password" maxLength="30" required>
           <small *ngIf="password.invalid && (password.dirty || password.touched)">
               <div *ngIf="password.errors?.['required']">Password is required</div>
          </small>
       </div>

       <div class="field">
         <label for="confirmPassword"><b>confirm Password</b></label>
         <input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" maxLength="30" required>
             <div *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.dirty || confirmPassword.touched)">Confirmation is required</div>
             <div *ngIf="signUpForm?.errors?.['passwordMismatch']!= null  && signUpForm?.touched && confirmPassword.errors?.['required']!= true">
         Password should match
        </div>


     </div>

         <input type="checkbox" name="remember">
     <label for="rememberCheckBox">Remember me</label>

      <div>
        <button [disabled]="signUpForm.invalid">Sign Up</button>
        <br>
        <div>Already have an account? <a routerLink="/Log-in">Register</a> </div>
        </div>
   </div>
</form>


