<form (ngSubmit)="onSubmit()" [formGroup]="form">
   <div class="formContainer">
      <h1>Sign Up Form</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName" required>

      <label for="email"><b>Email</b></label>
      <input type="email" name="email" placeholder="Enter Email" [(ngModel)]="signupObj.email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="signupObj.password" required>

      <label for="confirmPassword"><b>Confirm Password</b></label>
      <input type="password" name="confirmPassword" placeholder="Repeat Password" required>

         <input type="checkbox" name="remember">
     <label for="rememberCheckBox">Remember me</label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <div>
        <button (click)="onSubmit()" [disabled]="disabled">Sign Up</button>
        <br>
        <div *ngIf="form.errors?.['mismatch'] && form?.touched">
          Password doesn't match!
        </div>
      </div>
   </div>
</form>


