<!DOCTYPE html>

<!--
    Sign up:
        Email
        Password
        
        Username
        Gender
        Age
-->
<body>

<form>
   <div class="formContainer">
      <h1>Sign Up Form</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <label for="repeatPassword"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="repeatPassword"
      required>
      <label>
         <input type="checkbox" checked="checked" name="remember" style="marginbottom: 15px"> Remember me
      </label>
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <div>
         <button type="submit" class="signup">Sign Up</button>
      </div>
   </div>
</form>  
    
<form>
   <div class="formContainer">
      <h1>Hello!</h1>
      <hr>
      <label for="Username"><b>what do we call you?</b></label>
      <input type="text" placeholder="Enter Username" name="Username" required>
      <label for="Gender"><b>Gender</b></label>
      <select name="Gender" id="Gender">
         <option value="male">male</option>
         <option value="female">female</option>
         <option value="NA">NA</option>
       </select>
      <label for="Age"><b>Age</b></label>
      <input type="text" placeholder="Enter Age" name="Age"
      required>
      <label>
         <input type="checkbox" checked="checked" name="remember" style="marginbottom: 15px"> Remember me
      </label>
      <div>
         <button type="submit" class="signup">Next</button>
      </div>
   </div>
</form>

<form>
   <div class="formContainer">
      <h1>choose your likings</h1>
      <hr>
      <label>
         <input type="checkbox" checked="checked" name="science" style="marginbottom: 15px"> science
      </label>
      <label>
         <input type="checkbox" checked="checked" name="computer" style="marginbottom: 15px"> computer
      </label>
      <label>
         <input type="checkbox" checked="checked" name="video" style="marginbottom: 15px"> video
      </label>
      <label>
         <input type="checkbox" checked="checked" name="game" style="marginbottom: 15px"> game
      </label>
      <label>
         <input type="checkbox" checked="checked" name="music" style="marginbottom: 15px"> music
      </label>
      <label>
         <input type="checkbox" checked="checked" name="art" style="marginbottom: 15px"> art
      </label>
      <div>
         <button type="submit" class="signup">Next</button>
      </div>
   </div>
</form>

</body>