
<form (ngSubmit)="onSubmit()" [formGroup]="form">
   <div class="formContainer">
      <h1>Sign Up Form</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input id="email" type="email" formControlName="email" placeholder="Enter Email" required>

      <label for="password"><b>Password</b></label>
      <input id="password" type="password" formControlName="password" placeholder="Enter Password" required>

      <label for="confirmPassword"><b>Confirm Password</b></label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Repeat Password" required>

         <input id="rememberCheckBox" type="checkbox" name="remember">
     <label for="rememberCheckBox">Remember me</label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <div>
        <button type="submit" [disabled]="disabled">Sign Up</button>
        <br>
        <div *ngIf="form.errors?.['mismatch'] && form?.touched">
          Password doesn't match!
        </div>
      </div>
   </div>
</form>


